
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoRight</title>
</head>
<body>
    <div> 
        你没有访问权限，请联系管理员。
    </div>
</body>
</html>

